.text-nav-color{
    color: green !important;
}

.navbar-brand {                
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50px;        
    margin-left: 0px;
    padding: 15px;
}

#navbarSupportedContent{
    padding-left: 110px;
}
